.show_menu {
  max-height: 400px !important;
  transition: all 0.8s;
}

.show_input input {
  width: 150px !important;
  margin-right: 5px;
  opacity: 1 !important;
  transition: 0.5s ease-out;
}

.header-fixed {
  height: 70px;
  border-bottom: none;
  z-index: 200 !important;
  background-color: #fff !important;
  transition: all 0.5s;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
.header-fixed .header_logo h1 {
  margin-bottom: 0;
}
.header-fixed .header_logo h1 a,
.header-fixed .header_logo h1 svg {
  color: black !important;
  transition: 0.5s;
}
.header-fixed .header_navbar .header_input {
  border: 1px solid #eee;
}
.header-fixed .header_navbar svg {
  color: black !important;
}

header {
  position: fixed;
  padding: 20px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header .container .header_content {
  position: relative;
}
header .container .header_content .header_logo h1 {
  position: relative;
  cursor: pointer;
}
header .container .header_content .header_logo h1:hover a {
  color: black;
}
header .container .header_content .header_logo h1:hover svg {
  color: black;
}
header .container .header_content .header_logo h1 a {
  text-decoration: none;
  font-size: 32px;
  color: #fb811e;
  transition: 0.5s;
}
header .container .header_content .header_logo h1 svg {
  position: absolute;
  top: 3%;
  left: 55px;
  width: 18px;
  height: 18px;
  color: #fb811e;
  fill: currentColor;
  transition: 0.5s;
}
header .container .header_content .header_navbar {
  display: flex;
  align-items: center;
}
header .container .header_content .header_navbar .header_input {
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  border-radius: 20px;
  padding: 5px 0;
  background-color: #fff;
}
header .container .header_content .header_navbar .header_input:focus-visible {
  outline: none;
}
header .container .header_content .header_navbar .header_input div {
  width: 100%;
}
header .container .header_content .header_navbar .header_input div svg {
  width: 15px;
  color: black;
  margin-bottom: 3px;
}
header .container .header_content .header_navbar .header_input input {
  border: none;
  outline: none;
  width: 0;
  opacity: 0;
  transition: 0.5s ease-out;
}
header .container .header_content .header_navbar .header_input input:focus {
  width: 150px;
  margin-right: 5px;
  opacity: 1 !important;
  transition: 0.5s ease-out;
}
header .container .header_content .header_navbar .moonIcon:hover {
  color: #fb811e;
}
header .container .header_content .header_navbar .moonIcon {
  width: 20px;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
  fill: currentColor;
}
header .container .header_content .header_navbar svg {
  width: 20px;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
  fill: currentColor;
}
header .container .header_content .header_dropDown {
  position: absolute;
  right: 0%;
  top: 50px;
  min-width: 120px;
  max-height: 0;
  transition: all 0.8s;
  overflow: hidden;
}
header .container .header_content .header_dropDown ul {
  list-style: none;
  background: #fff;
  padding: 0;
  margin: 0;
  border-radius: 3%;
}
header .container .header_content .header_dropDown ul li {
  text-align: center;
  padding: 7px 20px;
}
header .container .header_content .header_dropDown ul li a {
  text-decoration: none;
  padding: 7px 50px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: black;
}
header .container .header_content .header_dropDown ul li a:hover {
  color: #fb811e;
}

@media (max-width: 991px) {
  header .container .header_content .header_logo h1 svg {
    top: -3%;
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 600px) {
  header .container .header_content .header_logo h1 a {
    font-size: 25px;
  }
  header .container .header_content .header_logo h1 svg {
    left: 30%;
    top: -5%;
    width: 12px;
  }
  header .container .header_content .header_navbar .header_input input:focus {
    width: 100px !important;
  }
}