header h1:hover a {
  color: #fff !important;
}
header h1:hover svg {
  color: #fff !important;
}

.header-fixed {
  height: 70px;
  border-bottom: none;
  z-index: 200 !important;
  background-color: #222222 !important;
  transition: all 0.5s;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
.header-fixed .header_logo h1 {
  margin-bottom: 0;
}
.header-fixed .header_logo h1 a,
.header-fixed .header_logo h1 svg {
  color: #fff !important;
}
.header-fixed .header_navbar .barsIcon,
.header-fixed .header_navbar .sunIcon {
  color: #fff !important;
}