.dark header h1:hover a {
  color: #fff !important;
}
.dark header h1:hover svg {
  color: #fff !important;
}
.dark .header-fixed {
  height: 70px;
  border-bottom: none;
  z-index: 200 !important;
  background-color: #222222 !important;
  transition: all 0.5s;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
.dark .header-fixed .header_logo h1 {
  margin-bottom: 0;
}
.dark .header-fixed .header_logo h1 a,
.dark .header-fixed .header_logo h1 svg {
  color: #fff !important;
}
.dark .header-fixed .header_navbar .barsIcon,
.dark .header-fixed .header_navbar .sunIcon {
  color: #fff !important;
}
.dark .banner .banner_content {
  background-color: #222222;
}
.dark .banner .banner_content .banner_text h2 {
  color: black !important;
}
.dark .banner .banner_content .banner_text .banner_detail h3 {
  color: #fff !important;
}
@media (max-width: 768px) {
  .dark .banner .banner_content .banner_left_content .banner_text {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .dark .banner .banner_content .banner_left_content .banner_text h2 {
    color: #fff !important;
  }
}
.dark .feature {
  background-color: #222222;
}
.dark .feature .feature_left h3 {
  color: #fff;
}
.dark .feature .feature_right .feature_item {
  background-color: #222222 !important;
}
.dark .feature .feature_right .feature_item h4 a {
  color: #fff !important;
}
.dark .service .service_content .card_body {
  background-color: #222222 !important;
}
.dark .service .service_content .card_body a {
  color: #fff;
}
.dark .quality {
  background-color: #222222;
}
.dark .quality .container .quality_content .quality_left h3 {
  color: #fff !important;
}
.dark .quality .container .quality_content .quality_left .quality_footer .detail h4 {
  color: #fff !important;
}
.dark .quality .container .quality_under .quality_item a {
  background-color: #222222 !important;
}
.dark .quality .container .quality_under .quality_item a .detail h4 {
  color: #fff !important;
}
.dark .gallery {
  background-color: #222222;
}
.dark .gallery .gallery_effect h3 {
  color: #fff;
}
.dark footer {
  background-color: #222222;
}
.dark footer .footer_left h3 {
  color: #fff;
}
.dark footer .footer_right h3 {
  color: #fff;
}